.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: aquamarine;
}

.container > .container-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  gap: 40px;
  width: 375px;
  height: auto;
  padding: 30px;
  border-radius: 10px;
}
.container > .container-box > .container-top {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  color: white;
  gap: 10px;
}
.container > .container-box > .container-top {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  color: white;
  gap: 10px;
}
.container > .container-box > .container-top .container-sign {
  display: flex;
  width: 100%;
  border-color: aquamarine;
  font-size: 20px;
  text-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.container > .container-box > .container-top > img {
  width: 100%;
}
.container > .container-box > .container-bottom {
  color: white;
}

.container > .container-box > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > .container-box > form > .container-input {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 20px;
}
.container > .container-box > form > .container-input > input {
  border-radius: 10px;
  border: 0;
  padding: 10px;
  height: 10px;
}
.container > .container-box > form > .container-input > button {
  border-radius: 10px;
  background-color: rgb(28, 206, 28);
  color: white;
  height: 30px;
  border: 0;
}
.container-counter {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.container-counter > .counter-btn > div > button {
  border-radius: 5px;
  background-color: blue;
  color: white;
  border: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.container-counter > .counter-btn {
  display: flex;
  gap: 20px;
}
